@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

.container {
  max-width: 1880px;
  margin: 0 auto;
  padding: 60px;
}

@media (max-width: 640px) {
  .container {
    padding: 30px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 40px;
  }
}

.container-header {
  max-width: 1880px;
  margin: 0 auto;
}

/* Color Variables */
:root {
  --font: "Poppins", sans-serif;
  --color-primary: #009dc4; /* --color-greenish*/
  --color-secondary: #f1cf69; /* --color-yell */
  --color-tertiary: #E6F7FB;
  --color-accent: #34d399;  /* --bg-grn */
  --color-dark: #acd7f3; /* Deep teal #acd7f3, greenish-#6d8c54 */
}

.section-padding-header {
  padding-top: 4px;
}

html,
body {
  overflow-x: hidden;
  background-color: #ffffff;
  font-family: "Poppins", sans-serif;
}
